:root {
    --primary-color: #e305ad;
    --text-color: #000000;
    --white: #FFFFFF;
    --secondary-color: #f658b8;
    --blue-purple: #819ae7;
    --blue: #3e96d6;
    --white: #FFFFFF;
    --lightest-pink: #f29ad8; 
    --purple-color: #bf98f2; 
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    padding: 10px 0;
    position: fixed; /* Fix the header to the top */
    width: 100%; /* Occupy the full width of the window */
    z-index: 1000; /* Ensure the header is above the content */
}
.header__review {
  background-image: url(/images/Reviews-shoe-1600.jpg);
}

.header_awards {
    background-image: url("https://images.alphacoders.com/131/1318738.jpeg");
}

.header__history {
    background-image: url("/images/History_background4.jpg");
}
.article__image {
    width: 500px;
}
p, a {
    font-family: 'Glacial Indifference', sans-serif;                                              
}

nav ul {
    list-style-type: none;
    margin: 30px 0 0 100px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10%;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--blue);
}

.carousel {
    position: relative;
    height: 100%;
    display: flex;
}

.slides {
    flex: 1;
}

.slides section {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the open section is on top */
    background-size: cover; /* Adjust the image size to cover the section */
    background-position: center; /* Center the image in the section */
}

.slides input[type="radio"]:checked + .controls + .slides section {
    display: block;
}

#slide1:checked ~ .slides .main-section,
#slide2:checked ~ .slides section:nth-of-type(2),
#slide3:checked ~ .slides section:nth-of-type(3),
#slide4:checked ~ .slides section:nth-of-type(4),
#slide5:checked ~ .slides section:nth-of-type(5) {
    display: block;
}

/* Background images for each section */
#slide1:checked ~ .slides .main-section {
    background-image: url('imgs/450_1000.jpg');
}

#slide2:checked ~ .slides section:nth-of-type(2) {
    background-image: url('imagen_seccion2.jpg');
}

#slide3:checked ~ .slides section:nth-of-type(3) {
    background-image: url('imagen_seccion3.jpg');
}

#slide4:checked ~ .slides section:nth-of-type(4) {
    background-image: url('History_page.png');
}

#slide5:checked ~ .slides section:nth-of-type(5) {
    background-image: url('imagen_seccion5.jpg');
}

input[type="radio"] {
    display: none;
}

.controls {
    display: flex;
    flex-direction: column;
    position: relative; /* Adjust to relative position */
    z-index: 2; /* Ensure controls are above the sections */
}

.controls {
    position: absolute;
    bottom: 10%;
    left: 5%;
    transform: translateX(-50%);
}

.controls label::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--white);
    border-radius: 50%;
    margin: 5px 0;
    transition: background-color 0.5s ease; /* Smooth transition of background color */
}

.controls label:hover::before {
    background-color: var(--blue); /* Change background color on hover */
}

.slides input[type="radio"]:checked + .controls label::before {
    background-color: var(--blue); /* Blue fill for the active section circle */
}

#slide1:checked ~ .controls label:nth-of-type(1)::before,
#slide2:checked ~ .controls label:nth-of-type(2)::before,
#slide3:checked ~ .controls label:nth-of-type(3)::before,
#slide4:checked ~ .controls label:nth-of-type(4)::before {
    background-color: var(--blue); /* Blue fill for the active section circle */
}

/* Location of paragraphs for each section */

.slides section:nth-of-type(4) p {
    position: absolute;
    bottom: 100px; /* Adjust vertical position as needed */
    left: 170px; /* Adjust horizontal position as needed */
    color: white; /* Text color */
    z-index: 2; /* Ensure text is above the navigation points */
    max-width: 400px; /* Set maximum width for the paragraph */
}
  
/* Separate text into paragraphs of 6 words */
.slides section:nth-of-type(4) p::after {
    content: "\A"; /* Add a line break */
    white-space: pre; /* Maintain white space */
}
  
/* Style for paragraphs of 6 words */
.slides section:nth-of-type(4) p span {
    display: inline-block;
    max-width: 100%; /* Prevent text from exceeding maximum width */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Glacial Indifference', sans-serif;
    background-color: var(--lightest-pink);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-image: url('images/rev-1-txtd_barbie_first_look_barbie_high_res_jpeg-1-a_wide-f6c6c80507174b14c2819d1716cfd16a853b35d8-s1400-c100.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: relative;
}

.symbol img {
    width: 80px;
}

.nav, .hero{
    background-color:  transparent;
}
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 0rem calc((100vw - 1300px)/2);
}
.nav .nav-items a {
    margin: 0 10px;
    font-weight: bold;
}

.nav-items a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-items a:hover {
    color: var(--blue-purple);
}
nav a, nav button {
    text-decoration: none;
    color: var(--white);
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    max-width: 150px;
    margin-right: 10px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
    margin-left: auto;
    position: absolute;
    bottom: 40px;
    right: 0.5%;
    transform: translateX(-50%);
}
button:hover {
    background-color: var(--purple-color);
    color: var(--text-color);
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: start;
    padding: 0 30px;
}

.hero h1 {
    font-family:'Font Nickainley', cursive;
    font-size: 6em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:var(--primary-color);
    color: var(--white);
}

main, article {
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    background-color: var(--lightest-pink);
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ratings, .movie-type {
    flex: 1;
    margin: 30px;
}

.ratings, .movie-type {
    align-self: flex-start;
}

.ratings, .about-movie {
    flex: 1;
    margin: 30px;
}

.ratings, .movie-type, .about-movie {
    font-family: 'Glacial Indifference', sans-serif;
    padding: 20px;
    color:var(--primary-color);
}

.ratings h2, .movie-type h2, .about-movie h2, .article h2 {
    color: var(--blue);
    margin-bottom: 0.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary-color);
    font-size: 2em;
}

.movie-type .type span {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: var(--white);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.about-movie p {
    text-align: justify;
    margin-bottom: 1em;
}

.movie-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.movie-image {
    width: 32%;
    height: auto; 
    margin: 0 1%; 
}


footer {
    background: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Glacial Indifference', sans-serif;
    font-weight: bold;
}

footer a {
    display: inline-block;
    margin: 0 5px;
}

footer img {
    vertical-align: middle;
}

.img_card__img {
    display: grid;
}
.review {
    display: grid;
    grid-template-columns: 350px 1fr;
    padding: 50px;
    justify-items: center;
    align-items: center;
  }

.review__img {
    border-radius: 50%;
    width: 275px;
  }
  
figcaption {
    max-width: 275px;
    text-align: center;
  }

.review__text {
    padding: 0 12px;
}


iframe {
  margin: 10px;
}

/*Award Page*/
.awardicons {
    display: flex; 
    gap: 100px; 
    align-items: center;
    justify-content: center;
}

.academyaward {
    animation:backflip 3s ease;
    }
@keyframes backflip {
    0% {
        transform: translateZ(0)  rotateY(0deg);
        z-index: 10;
      }
      25% {
        transform: translateZ(125%)  rotateY(-70deg);
        z-index: 10;
      }
      50% {
        transform: translateZ(0%)  rotateY(-180deg);
        z-index: 10;
      }
      75% {
        transform: translateZ(-125%)  rotateY(-270deg);
        z-index: 10;
      }
      100% {
        transform: translateZ(100px) rotateY(-360deg);
        z-index: 10;
      }
    }

@media (max-width: 768px) {
    header, .nav, .hero-container {
        flex-direction: column;
    }

    .content-container {
        flex-direction: column;
    }

    .ratings, .about-movie {
        flex-basis: 100%;
    }

    .ratings, .movie-type {
        flex-basis: 100%;
    }

    .about-movie {
        max-width: 100%;
        padding: 0 15px;
    }

    .movie-images {
        flex-direction: column;
    }

    .movie-image {
        width: 100%;
        margin: 10px 0;

    }

    .nav .nav-items a {
        font-size: 0.8em;
    }

    .movie-type .type {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .ratings, .movie-type {
        padding: 10px;
    }
    
    .hero h1{
        display: none;
    }
    .review {
        display: grid;
        grid-template-columns: 1fr;
        padding: 50px;
        justify-items: center;
        align-items: center;
      }
      figcaption {
        margin-bottom: 50px;
      }
}
.header_cast {
    background-image: url(/images/cast_header.webp);
    height: 500px;
}
.cast-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 50px;
    text-align: center;
    padding: 20px 50px 20px 50px;
}

.grid-item {
    border: var(--purple-color) 10px;
}

.grid-item > img {
    max-width: 250px;
    max-height: 300px;
    display: grid;
    align-items: center;
    padding-top: 30px;
}

.cast_hero > h1 {
    position: absolute;
    color: var(--lightest-pink); 
    font-size: 100px;
    -webkit-text-stroke: 3px var(--primary-color);
    text-align: center;
    z-index: 1;
  }

.cast_hero {
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    top: 0; 
    text-align: center;
    opacity: 0.80;
}

.cast_hero > img {
    height: 100vh;
}

blockquote > a {
    color: var(--primary-color);
    font-size: larger;
    font-weight: bold;
    text-align: center;
    transform: scale(2);
}

